<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 form-group field">
      <%= form.label :banner %>
      <%= form.file_field :banner, class: 'form-control col-md-6', id: :listing_banner %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group field">
      <%= form.label :beds %>
      <%= form.number_field :beds, class: 'form-control col-md-6', id: :listing_beds %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group field">
      <%= form.label :baths %>
      <%= form.number_field :baths, class: 'form-control', id: :listing_baths %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group field">
      <%= form.label :price %>
      <%= form.number_field :price, class: 'form-control', id: :listing_price %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mt-3 form-group actions">
      <%= form.submit%>
    </div>
  </div>
<% end %>
