<p id="notice"><%= notice %></p>

<p>
  <strong>Beds:</strong>
  <%= @listing.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @listing.baths %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
